<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Overwatch</title>
</head>
<body>
    <font face="Agency FB" size="5">
        <h1 align="center" >Overwatch</h1>
        <h2 align="center">Exposição de heróis</h2>
        <select>
            <option value="">Modo de exibição</option>
            <option value="classes">Classes</option>
            <option value="dificuldade">Dificuldade</option>
            <option value="qtdhab">Quantidade de habilidades</option>
            <option value="abc">Ordem alfabética</option>
        </select>
    </font>
</body>
</html>

