<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Overwatch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <font face="Agency FB" size="5">
        <h1 align="center" >Overwatch</h1>
        <h2 align="center">Exposição de heróis</h2>


        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Modo de exibição
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="por_dificuldade.html">Dificuldade</a>
    <a class="dropdown-item" href="#">Classes</a>
    <a class="dropdown-item" href="#">Ordem alfabética</a>
  </div>
</div>
        <br>
    </font>

    <table class="table table-striped table-dark">
  <thead class="thead-dark">
  <tr>
        <th >id</th><th>Função</th><th>Imagem representativa ;)</th>

    </tr>
        {% for funcao in todas_funcoes %}


    <tr>
        <td>{{funcao.id}}</td>
        <td>{{funcao.nome}}</td>
        <td><a href="visao_por_classe.html"><img src="{{funcao.imagem.url}}" width="90" height="90" class="img-thumbnail"></td></a>
    </tr>



   <!-- <img src="{{funcao.imagem.url}}" width="210" height="150" class="img-thumbnail">
    -->
              </thead>
        {% endfor %}
      </thead>
    </table>


        {% for heroi in herois %}
    <br/>{{ heroi.apelido }} [{{heroi.fk_funcao.nome}}]


    <img src="{{heroi.imagem.url}}" alt="{{heroi.apelido}}" width="210" height="150" class="img-thumbnail">


{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

