<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Herois</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="127.0.0.1:8000/anexos/style/style.css" rel="stylesheet" type="text/css">-->
    <style>
        body{
            background-image: url('/anexos/heroi/back.jpg');
        }
        h1{
            color: #ffffff;
        }
    </style>
</head>
<body >

<h1 align="center" >{{heroi.apelido}}</h1>
<center><img class="img-fluid"  src="{{heroi.imagem.url}}" width="65%">
</center>
<br><br>

<table class="table table-striped table-dark">
    <thead class="thead-dark">
    <tr>
        <th>
            Descrição do Herói
        </th>
        <th>Dificuldade (de 1 à 3)</th>
    </tr>
    <tr>
        <td>
            {{heroi.descricao}}
        </td>
        <td>{{heroi.dificuldade}}</td>
    </tr>
    </thead>
</table>

<table class="table table-striped table-dark">
    <thead class="thead-dark">

    <tr>
        <th>Ocupação</th>
        <th>Afiliação</th>
        <th>Nome Real</th>
        <th>Base de Operações</th>
        <th>Função</th>
    </tr>
    <tr>
        <td>{{heroi.ocupacao}}</td>
        <td>{{heroi.afiliacao}}</td>
        <td>{{heroi.nome_verdadeiro}}</td>
        <td>{{heroi.base_operacoes}}</td>
        <td>{{heroi.fk_funcao}}</td>
    </tr>
    </thead>
</table>

<table class="table table-striped table-dark">
    <thead class="thead-dark">
    <tr>
        <th>História</th>
    </tr>
    <tr>
        <td>{{heroi.historia}}</td>
    </tr>
    </thead>
</table>

<table class="table table-striped table-dark">
    <thead class="thead-dark">
    <tr>
        <th>Habilidades</th>
    </tr>
    <tr>
        <td>{{heroi.habilidade_1}}</td>
        <td>{{heroi.habilidade_2}}</td>
        <td>{{heroi.habilidade_3}}</td>
        <td>{{heroi.habilidade_4}}</td>
        <td>{{heroi.habilidade_5}}</td>
        <td>{{heroi.habilidade_6}}</td>
        <td>{{heroi.habilidade_7}}</td>
    </tr>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>